body,
h1,
h2,
p,
form,
fieldset {
  margin: 0.75em;
  padding: 0.5em;
  text-align: center;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #4f2828;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.container:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

form {
  max-width: 600px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 5px;
}

select,
input,
button {
  margin-bottom: 15px;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

select:hover,
input:hover,
button:hover {
  background-color: #55b9f3;
  color: #fff;
}

fieldset {
  padding: 1.5rem;
  background-color: #55b9f3;
  border: 4px dotted black;
}

legend {
  font-weight: bold;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #45a049;
}

#pizza-description {
  margin-top: 20px;
  color: #4caf50;
  font-weight: bold;
  font-size: 18px;
  animation: scaleIn 0.5s ease-in-out;
}

@keyframes scaleIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
